## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np
import random

In [3]:
data = {'國家': ['Taiwan', 'United States', 'Thailand'] ,
        '人口(百萬)': [random.randint(100, 300), random.randint(100, 300), random.randint(100, 300)] }
data = pd.DataFrame(data)
data

   人口(百萬)             國家
0     278         Taiwan
1     233  United States
2     168       Thailand

In [4]:
data.loc[data["人口(百萬)"].idxmax()]

人口(百萬)       278
國家        Taiwan
Name: 0, dtype: object